<!DOCTYPE html>
<html>
<head>
    <title>Моя страница</title>
</head>
<body>
<h1>Моя страница</h1>

<form th:action="@{/logout}" method="post">
    <button type="submit">выйти</button>
</form>

<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>Имя пользователя</th>
        <th>Роль</th>
        <th>Email</th>
    </tr>
    <thead>

    <tbody>
    <tr>
        <td th:text="${user.nickname}">ID</td>
        <td th:text="${user.roles}">Nickname</td>
        <td th:text="${user.email}">Email</td>

    </tr>
    </tbody>
</table>


</body>
</html>

