<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1>Пользователи</h1>

<form th:action="@{/admin/adduser}" method="get">
    <button type="submit">добавить пользователя</button>
</form>

<form th:action="@{/user}" method="get">
    <button type="submit">домашняя страница</button>
</form>

<form th:action="@{/logout}" method="post">
    <button type="submit">выйти</button>
</form>

<table border="1" cellpadding="5">
    <thead>
    <tr>
        <th>Id</th>
        <th>Пользователь</th>
        <th>Email</th>
        <th>возраст</th>
        <th>Действия</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.nickname}">Nickname</td>
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.age}">Age</td>

        <td>
            <form th:method="get" th:action="@{/admin/updateuser/{id}(id=${user.id})}" style="display:inline;">
                <input type="submit" value="изменить"/>
            </form>

            <form th:method="post" th:action="@{/admin/deleteuser(id=${user.id})}" class="delete-form" style="display:inline;">
                <button type="submit">удалить</button>
            </form>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>